.footer {
    height: 313px;
    background: #F5F5F5;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer footer {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer footer .contact {
    display: flex;
    gap: 14px;
  }
  .footer footer .contact p {
    color: #ADAEAF;
  }
  .footer footer nav {
    display: flex;
    gap: 56px;
  }
  .footer footer .nav-link {
    color: #111112;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
  }
  .footer .socialmedia {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .footer .privacy {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 31px;
  }
  .footer .privacy p {
    color: #ADAEAF;
  }